(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("waves/fst/tb_axi_grant_tracker.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "axi_grant_tracker_wrapper",
                "dut",
            ],
            id: Wellen((4)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (19),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_grant_tracker_wrapper",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "o_grant",
                    id: Wellen((16)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "o_grant [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_grant_tracker_wrapper",
                            "dut",
                            "a_fifo",
                            "fifo",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "[5]",
                    id: Wellen((43)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "[5] [7:0]",
                display_name_type: Local,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_grant_tracker_wrapper",
                            "dut",
                            "a_fifo",
                            "fifo",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "[3]",
                    id: Wellen((41)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "[3] [7:0]",
                display_name_type: Local,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (11): Group((
                name: "fifo",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_grant_tracker_wrapper",
                            "dut",
                            "a_fifo",
                            "fifo",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "[7]",
                    id: Wellen((45)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "[7] [7:0]",
                display_name_type: Local,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_grant_tracker_wrapper",
                            "dut",
                            "a_fifo",
                            "fifo",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "[2]",
                    id: Wellen((40)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "[2] [7:0]",
                display_name_type: Local,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_grant_tracker_wrapper",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "new_tx",
                    id: Wellen((12)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "new_tx",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_grant_tracker_wrapper",
                            "dut",
                            "a_fifo",
                            "fifo",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "[1]",
                    id: Wellen((39)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "[1] [7:0]",
                display_name_type: Local,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_grant_tracker_wrapper",
                            "dut",
                            "a_fifo",
                            "fifo",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "[6]",
                    id: Wellen((44)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "[6] [7:0]",
                display_name_type: Local,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_grant_tracker_wrapper",
                            "dut",
                            "a_fifo",
                            "fifo",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "[0]",
                    id: Wellen((38)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "[0] [7:0]",
                display_name_type: Local,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_grant_tracker_wrapper",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "tf_finished",
                    id: Wellen((13)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "tf_finished",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_grant_tracker_wrapper",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "full",
                    id: Wellen((15)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "full",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_grant_tracker_wrapper",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "test",
                    id: Wellen((17)),
                    index: None,
                ),
                color: Some("Blue"),
                background_color: None,
                display_name: "test [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (10): Group((
                name: "Outputs",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_grant_tracker_wrapper",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "clk",
                    id: Wellen((10)),
                    index: None,
                ),
                color: Some("Yellow"),
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (9): Group((
                name: "Inputs",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_grant_tracker_wrapper",
                            "dut",
                            "a_fifo",
                            "fifo",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "[4]",
                    id: Wellen((42)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "[4] [7:0]",
                display_name_type: Local,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_grant_tracker_wrapper",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "i_grant",
                    id: Wellen((14)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "i_grant [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_grant_tracker_wrapper",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "n_rst",
                    id: Wellen((11)),
                    index: None,
                ),
                color: Some("Gray"),
                background_color: None,
                display_name: "n_rst",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
        },
        display_item_ref_counter: 22,
        viewports: [
            (
                curr_left: (0.36512173731290276),
                curr_right: (1.0656951240398729),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            246010,
        ])),
        markers: {},
        selected_annotation: None,
        annotations: [],
        annotation_groups: [],
        annotation_list_visible: false,
        annotation_counter: 0,
        last_active_viewport_idx: 0,
        focused_item: None,
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    frame_buffer: {
        "pixels_per_row": 16,
        "square_pixels": true,
        "color_mode": Grayscale,
        "grayscale_bits": 1,
        "r_bits": 3,
        "g_bits": 3,
        "b_bits": 2,
        "y_bits": 8,
        "cb_bits": 8,
        "cr_bits": 8,
    },
    wanted_timeunit: NanoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
    animation_enabled: None,
    use_dinotrace_style: None,
    transition_value: None,
    show_annotation_list: false,
)